@model FIRMA_MVC.Models.SLIDER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SLIDER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BASLIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BASLIK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DURUMU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DURUMU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SLIDER_REFNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
