@using FIRMA_MVC.Models;
@model IEnumerable<SLIDER>
@{
    ViewBag.Title = "Index";
    string veri = ViewData["veri"].ToString();
}

<div id="arama">
    <form action="/Admin/Sliderlar/Search" method="post">
        <label>Ara</label>
        <input type="text" name="txtAra" placeholder="Slider Başlığı giriniz:" value="@veri" />
        <input type="submit" value="Ara" class="button" />
        <span class="lnkbutton">
            <a href="/Admin/Sliderlar/Create">Yeni</a>
        </span>

    </form>
</div>

<div id="liste">
    <table>
        <tr>
            <td>Sil</td>
            <td>@Html.DisplayNameFor(model => model.SLIDER_REFNO)</td>
            <td>@Html.DisplayNameFor(model => model.BASLIK)</td>
            <td>@Html.DisplayNameFor(model => model.LINK)</td>
            <td>@Html.DisplayNameFor(model => model.RESIM)</td>
            <td>@Html.DisplayNameFor(model => model.DURUMU)</td>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Sil", "Delete", new { id = item.SLIDER_REFNO })
                </td>

                <td>@Html.DisplayFor(model => item.SLIDER_REFNO)</td>
                <td>
                    @Html.ActionLink(item.BASLIK, "Create", new { id = item.SLIDER_REFNO })
                </td>
                <td>@Html.Raw(item.LINK)</td>
                <td><img id="img@(item.SLIDER_REFNO)" class="urunresim" src="~/images/@item.RESIM" /></td>
                <td>@Html.Raw(item.DURUMU)</td>
            </tr>
        }
    </table>
</div>