@model FIRMA_MVC.Models.SAYFA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SAYFA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BASLIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BASLIK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICERIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICERIK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SAYFA_REFNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
