@using FIRMA_MVC.Models;
@model IEnumerable<PROJE>
@{
    ViewBag.Title = "Index";
    string veri = ViewData["veri"].ToString();
}

<div id="arama">
    <form action="/Admin/Projeler/Search" method="post">
        <label>Ara</label>
        <input type="text" name="txtAra" placeholder="Proje adı giriniz:" value="@veri" />
        <input type="submit" value="Ara" class="button" />
        <span class="lnkbutton">
            <a href="/Admin/Projeler/Create">Yeni</a>
        </span>

    </form>
</div>

<div id="liste">
    <table>
        <tr>
            <td>Sil</td>
            <td>@Html.DisplayNameFor(model => model.PROJE_REFNO)</td>
            <td>@Html.DisplayNameFor(model => model.ADI)</td>
            <td>@Html.DisplayNameFor(model => model.RESIM)</td>
            <td>@Html.DisplayNameFor(model => model.ACIKLAMA)</td>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Sil", "Delete", new { id = item.PROJE_REFNO })
                </td>

                <td>@Html.DisplayFor(model => item.PROJE_REFNO)</td>
                <td>
                    @Html.ActionLink(item.ADI, "Create", new { id = item.PROJE_REFNO })
                </td>

                <td><img id="img@(item.PROJE_REFNO)" class="urunresim" src="~/images/@item.RESIM" /></td>
                <td>@Html.Raw(item.ACIKLAMA)</td>
            </tr>
        }
    </table>
</div>

